# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# CLion
.idea
/src/AutoCoder/CompleteToolKit/Output_Files/generated_code/

#CMAKE
cmake-build-debug

.DS_Store

out/
.vs/
build/
CMakeFiles
settings.json

